{% extends "quotes/base.html" %}

{% block content %}

<form method="POST" action="{% url 'quotes:author_add' %}">
    {% csrf_token %}
     <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <label>Enter the author name:
                    {{form.fullname}}
                </label>
                <span>{{ form.errors.fullname }}</span>
            </div>
            <div class="col">
                <label>Enter the author born date:
                    {{form.born_date}}
                </label>
                <span>{{ form.errors.born_date }}</span>
            </div>
            <div class="col">
                <label>Enter the author born location:
                    {{form.born_location}}
                </label>
                <span>{{ form.errors.born_location }}</span>
            </div>
            <div class="container mt-3" >
                <button type="submit"  class="btn btn-success">Submit</button>
            </div>
        </div>
     </div>
</form>

{% endblock %}
